body{
    background-color: #FFFFFF; /*beige*/
    font-family: 'Noto Serif TC', serif;
}

@media only screen and (min-width: 769px) {
    .img{
        width: 100%;  
        }
}
@media only screen and (min-width: 321px) and (max-width: 768px) {
    .img{
        width: 100%;  
        }
}
@media only screen and (min-width: 0px) and (max-width: 320px){
    .img{
        width: 300px;  
        }
}


.littleForm{
    background-color: aqua;
    margin: auto;
    width: 50%;
    padding: 5px;
}
.order{
    padding: 20px;
}
.bigButton{
    width: 50%;
    font-size: larger;
    padding: 10;
}
.rectangle{
    display: block;
    width: 400px;
    text-align: center;
    margin: 0 auto;
    font-size: 60px;
    font-weight: bold;
    line-height: 2.5;
    color: #ffffff;
    background-color: #90B44B;
    border-radius: 10px;
}
.word{
    text-align: center;
    font-size: 20px;
}