body{
    background-color: beige;
}

@media only screen and (min-width: 769px) {
    .img{
        width: 100%;  
        }
}
@media only screen and (min-width: 321px) and (max-width: 768px) {
    .img{
        width: 400px;  
        }
}
@media only screen and (min-width: 0px) and (max-width: 320px){
    .img{
        width: 300px;  
        }
}


.littleForm{
    background-color: aqua;
    margin: auto;
    width: 50%;
    padding: 5px;
}
.order{
    padding: 20px;
}
.bigButton{
    width: 50%;
    font-size: larger;
    padding: 10;
}